<div class="card mb-4">
  <div class="card-block">
    <h4 class="card-title col-md-12 p-3">{{user.username}}</h4>
    <div class="card-body row m-1">
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Username</h6>
        <p class="card-text">{{user.username}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">E-Mail</h6>
        <p class="card-text">{{user.email}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Role</h6>
        <p class="card-text">{{user.getRoles().join(', ')}}</p>
      </div>
    </div>
    <div class="card-footer text-right">
      <button id="listBtn" type="button" [routerLink]="['/users']"
              class="btn m-1 btn-outline-primary">User List
      </button>
      <button id="editBtn" type="button" *ngIf="getCurrentUser().id === user.username" [routerLink]="['edit']"
              class="btn m-1 btn-outline-success">Edit
      </button>
      <button id="deleteBtn" type="button" *ngIf="getCurrentUser().id === user.username" [routerLink]="['delete']"
              class="btn m-1 btn-outline-danger">Delete
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="card col-lg-4 col-md-6 col-sm-12 col-xs-12" *ngFor="let route of routes">
    <div class="card-block">
      <div class="card-header row m-1 text-center" >
        <h5>Route</h5>
      </div>
      <div class="card-body row m-1">
        <div class="col-md-6 p-3">
          <h6 class="card-subtitle text-muted">CreatedBy</h6>
          <p class="card-text">{{route.createdBy?.username}}</p>
        </div>
        <div class="col-md-6 p-3">
          <h6 class="card-subtitle text-muted">Creation date</h6>
          <p class="card-text">{{route.creationDate | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
        </div>
        <div class="col-md-6 p-3">
          <h6 class="card-subtitle text-muted">Title</h6>
          <p class="card-text">{{route.title}}</p>
        </div>
        <div class="col-md-6 p-3">
          <h6 class="card-subtitle text-muted">Type</h6>
          <p class="card-text">{{route.type}}</p>
        </div>
        <div class="col-lg12 col-md-12 p-3">
          <h6 class="card-subtitle text-muted">Description</h6>
          <p class="card-text">{{route.description}}</p>
        </div>
      </div>
      <div class="card-footer text-right row">
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" *ngIf="currentUserEdit(route.createdBy?.username) && !isRole('admin')" [routerLink]="[route.uri+'/edit']" class="btn col-6 m-1 btn-outline-success">Edit</button>
          <button type="button" *ngIf="!isRole('admin')" [routerLink]="[route.uri]" class="btn col-6 m-1 btn-outline-primary">Detail</button>
          <button type="button" *ngIf="isRole('admin')" [routerLink]="[route.uri + '/delete']" class="btn col-6 m-1 btn-outline-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <hr class="my-3">
</div>

