<div class="card mb-4">
  <div class="card-block">
    <h4 class="card-title col-md-12 p-3">{{user.username}}</h4>
    <div class="card-body row m-1">
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Username</h6>
        <p class="card-text">{{user.username}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">E-Mail</h6>
        <p class="card-text">{{user.email}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Role</h6>
        <p class="card-text">{{user.getRoles().join(', ')}}</p>
      </div>
    </div>
    <div class="card-footer text-right">
      <button id="listBtn" type="button" [routerLink]="['/users']"
              class="btn m-1 btn-outline-primary">User List
      </button>
      <button id="editBtn" type="button" *ngIf="getCurrentUser().id === user.username" [routerLink]="['edit']"
              class="btn m-1 btn-outline-success">Edit
      </button>
      <button id="deleteBtn" type="button" *ngIf="getCurrentUser().id === user.username" [routerLink]="['delete']"
              class="btn m-1 btn-outline-danger">Delete
      </button>
    </div>
  </div>
</div>

<div id="accordion" class="row">

  <div id="tableButtons" class="btn-group">
    <button class="btn btn-outline-secondary" id="btnMyRoutes" data-toggle="collapse" data-target="#collapseMyRoutes" aria-expanded="true" aria-controls="collapseMyRoutes" (click)="swapClass('btnMyRoutes',['btnMyRoutesFollowed','btnMyRoutesVersion'])">
      <h2>My routes</h2>
    </button>
    <button class="btn btn-outline-secondary" id="btnMyRoutesFollowed" data-toggle="collapse" data-target="#collapseMyRoutesFollowed" aria-expanded="true" aria-controls="collapseMyRoutesFollowed" (click)="swapClass('btnMyRoutesFollowed',['btnMyRoutes','btnMyRoutesVersion'])">
      <h2>My routes Followed</h2>
    </button>
    <button class="btn btn-outline-secondary" id="btnMyRoutesVersion" data-toggle="collapse" data-target="#collapseMyRoutesVersion" aria-expanded="true" aria-controls="collapseMyRoutesVersion" (click)="swapClass('btnMyRoutesVersion',['btnMyRoutes','btnMyRoutesFollowed'])">
      <h2>My routes Version</h2>
    </button>
  </div>

  <div id="tables">
    <div id="collapseMyRoutes" class="collapse" aria-labelledby="headingMyRoutes" data-parent="#accordion">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Type</th>
          <th scope="col">Creation date</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let route of routes">
          <th scope="row">{{route.title}}</th>
          <td>{{route.type}}</td>
          <td>{{route.creationDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
          <td> <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" *ngIf="currentUserEdit(route.createdBy?.username) && !isRole('admin')" [routerLink]="[route.uri+'/edit']" class="btn col-6 m-1 btn-outline-success">Edit</button>
            <button type="button" *ngIf="!isRole('admin')" [routerLink]="[route.uri]" class="btn col-6 m-1 btn-outline-primary">Detail</button>
            <button type="button" *ngIf="isRole('admin')" [routerLink]="[route.uri + '/delete']" class="btn col-6 m-1 btn-outline-danger">Delete</button>
          </div></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div id="collapseMyRoutesFollowed" class="collapse" aria-labelledby="headingMyRoutesFollowed" data-parent="#accordion">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Type</th>
          <th scope="col">Creation date</th>
          <th scope="col">Created By</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let route of routes">
          <th scope="row">{{route.title}}</th>
          <td>{{route.type}}</td>
          <td>{{route.creationDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{route.createdBy?.username}}</td>
          <td> <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" *ngIf="currentUserEdit(route.createdBy?.username) && !isRole('admin')" [routerLink]="[route.uri+'/edit']" class="btn col-6 m-1 btn-outline-success">Edit</button>
            <button type="button" *ngIf="!isRole('admin')" [routerLink]="[route.uri]" class="btn col-6 m-1 btn-outline-primary">Detail</button>
            <button type="button" *ngIf="isRole('admin')" [routerLink]="[route.uri + '/delete']" class="btn col-6 m-1 btn-outline-danger">Delete</button>
          </div></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div id="collapseMyRoutesVersion" class="collapse" aria-labelledby="headingMyRoutesVersion" data-parent="#accordion">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Type</th>
          <th scope="col">Creation date</th>
          <th scope="col">Created By</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let route of routes">
          <th scope="row">{{route.title}}</th>
          <td>{{route.type}}</td>
          <td>{{route.creationDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
          <td>{{route.createdBy?.username}}</td>
          <td> <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" *ngIf="currentUserEdit(route.createdBy?.username) && !isRole('admin')" [routerLink]="[route.uri+'/edit']" class="btn col-6 m-1 btn-outline-success">Edit</button>
            <button type="button" *ngIf="!isRole('admin')" [routerLink]="[route.uri]" class="btn col-6 m-1 btn-outline-primary">Detail</button>
            <button type="button" *ngIf="isRole('admin')" [routerLink]="[route.uri + '/delete']" class="btn col-6 m-1 btn-outline-danger">Delete</button>
          </div></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

