<form id="routes-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>

    <!-- CreatedBy read only -->
    <div class="form-group mb-3">
      <label class="control-label" for="createdBy">Created by</label>
      <input id="createdBy" name="createdBy" type="text" class="form-control" readonly [ngModel]="route.createdBy?.username">
    </div>

    <!-- Type input -->
    <div class="form-group mb-3">
      <label class="control-label" for="type">Type</label>
      <input id="type" name="type" type="text" class="form-control" readonly
             [(ngModel)]="route.type" #type="ngModel">
    </div>

    <!-- Title input -->
    <div class="form-group mb-3" [class.was-validated]="title.invalid && (title.dirty || title.touched)">
      <label class="control-label" for="title">Title</label>
      <input id="title" name="title" type="text" class="form-control" required minlength="3"
             [(ngModel)]="route.title" #title="ngModel">
      <div class="text-danger"
           *ngIf="title.invalid && (title.dirty || title.touched)">
        <div *ngIf="title.errors?.['required']">Title is required.</div>
        <div *ngIf="title.errors?.['minlength']">Title must be at least 3 characters long.</div>
      </div>
    </div>

    <!-- Desctiption input -->
    <div class="form-group mb-3" [class.was-validated]="description.dirty || description.touched">
      <label class="control-label" for="description">Description</label>
      <input id="description" name="description" type="text" class="form-control"
             [(ngModel)]="route.description" #description="ngModel">
    </div>

    <!-- Button -->
    <div class="form-group fa-pull-right">
      <button id="routeBack" type="button" (click)="goBackToPrevPage()"
              class="btn btn-outline-primary">Back</button>
      <button id="submit" type="submit" [disabled]="!form.form.valid"
              class="btn btn-success ms-3">Submit</button>
    </div>

  </fieldset>
</form>

