<form id="user-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>

    <!-- createdBy input -->
    <div class="form-group mb-3">
      <label class="control-label" for="createdBy">Created by</label>
      <input id="createdBy" name="createdBy" type="text" class="form-control" readonly required [(ngModel)]="createdBy.id"
      #createdBy.id="ngModel">
    </div>

    <!-- Title input -->
    <div class="form-group mb-3">
      <label class="control-label" for="title">Title</label>
      <input id="title" name="title" type="text" class="form-control" required [(ngModel)]="route.title"
             #title="ngModel">
    </div>

    <!-- Description input -->
    <div class="form-group mb-3">
      <label class="control-label" for="description">Description</label>
      <input id="description" name="description" type="text-area" class="form-control" [(ngModel)]="route.description"
             #description="ngModel">
    </div>

    <!-- Type input -->
    <div class="form-group mb-3">
      <label class="control-label" for="type">Type</label>
      <input id="type" name="type" type="text" class="form-control" [(ngModel)]="route.type"
             #type="ngModel">
    </div>


    <!-- About input -->
    <!--<div class="form-group mb-3">
      <label class="control-label" for="about">About</label>
      <select [(ngModel)]="review.about" id="about" name="about" ngModel required #about="ngModel"
              class="form-select">
        <ng-container *ngFor="let user of users">
          <option *ngIf="user.getRoles().includes('user') && user.id !== getCurrentUserName()" selected
                  [ngValue]="user.id">{{user.id}}</option>
        </ng-container>
      </select>
    </div>-->

    <!-- Buttons -->
    <div class=" form-group fa-pull-right">
      <button id="listBtn" type="button" [routerLink]="['/routes']"
              class="btn btn-outline-primary pull-right">Back
      </button>
      <button id="submit" type="submit" [disabled]="!form.form.valid"
              class="btn ms-3 btn-success pull-right">Submit
      </button>
    </div>

  </fieldset>
</form>

<div class="card mb-4">
  <div class="card-block">
    <!--<h4 class="card-title col-md-12 p-3">{{route?.uri}}</h4>-->
    <div class="card-body row m-1">
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">CreatedBy</h6>
        <p class="card-text">{{route.createdBy?.id}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Title</h6>
        <p class="card-text">{{route.title}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Description</h6>
        <p class="card-text">{{route.description}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Creation date</h6>
        <p class="card-text">{{route.creationDate | date: 'dd/MM/yyyy HH:mm:ss'}}</p>
      </div>
      <div class="col-md-4 p-3">
        <h6 class="card-subtitle text-muted">Type</h6>
        <p class="card-text">{{route.type}}</p>
      </div>
    </div>
    <div class="card-footer text-right">
      <button id="listBtn1" type="button" [routerLink]="['/routes']"
              class="btn m-1 btn-outline-primary">Routes List
      </button>
    </div>
  </div>
</div>
