<form id="user-form" (ngSubmit)="onSubmit()" #form="ngForm">
  <fieldset>

    <!-- createdBy input -->
    <div class="form-group mb-3">
      <label class="control-label" for="createdBy">Created by</label>
      <input id="createdBy" name="createdBy" type="text" class="form-control" readonly required [(ngModel)]="createdBy.id"
             #createdBy.id="ngModel">
    </div>

    <!-- routeOrigin input -->
    <div class="form-group mb-3">
      <label class="control-label" for="routeOrigin">Route origin</label>
      <input id="routeOrigin" name="routeOrigin" type="text" class="form-control" readonly required [(ngModel)]="routeOrigin.title"
             #routeOrigin.title="ngModel">
    </div>

    <!-- Duration input -->
    <div class="form-group mb-3">
      <label class="control-label" for="duration">Duration</label>
      <input id="duration" name="duration" type="text" class="form-control" [(ngModel)]="routeFollowed.duration"
             #duration="ngModel">
    </div>

    <!-- LevelUp input -->
    <div class="form-group mb-3">
      <label class="control-label" for="levelUp">Level up</label>
      <input id="levelUp" name="levelUp" type="text" class="form-control" [(ngModel)]="routeFollowed.levelUp"
           #levelUp="ngModel">
    </div>

    <!-- LevelDown input -->
    <div class="form-group mb-3">
      <label class="control-label" for="levelDown">Level down</label>
      <input id="levelDown" name="levelDown" type="text" class="form-control" [(ngModel)]="routeFollowed.levelDown"
           #levelDown="ngModel">
    </div>

    <!-- Buttons -->
    <div class=" form-group fa-pull-right">
      <button id="listBtn" type="button" [routerLink]="['/routeFollowed']"
              class="btn btn-outline-primary pull-right">Back
      </button>
      <button id="submit" type="submit" [disabled]="!form.form.valid"
              class="btn ms-3 btn-success pull-right">Submit
      </button>
    </div>

  </fieldset>
</form>
